

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color: rgba(55, 143, 231, 0.365);
    padding-bottom: 2%;
    padding-top: 1%;
}

body{
    background-image: url(dino.jpg);
    background-size: cover ;
}
h1 {
    text-align: center;
}

#maca1{
    width: 3%;
    height: 3%;

}
#maca2{
    width: 3%;
    height: 3%;
}

#lara1{
    width: 3%;
    height: 3%;
}
#lara2{
    width: 3%;
    height: 3%;
}

#mela1{
    width: 3%;
    height: 3%;
}
#mela2{
    width: 3%;
    height: 3%;
}

#kiwi1{
    width: 3%;
    height: 3%;
}
#kiwi2{
    width: 3%;
    height: 3%;
}

#limao1{
    width: 3%;
    height: 3%;
}
#limao2{
    width: 3%;
    height: 3%;
}

form{
    background-color: rgba(47, 116, 255, 0.45);
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 3%;
    padding-bottom: 3%
}
#Add{
    margin: 1%;
}
